.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 24px;
}
.cartItem span:first-of-type {
  flex: 1;
}
.cartItem span:last-of-type {
  flex: 0 0 100px;
  text-align: right;
}